@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/SF-Pro-Display-Regular.woff') format('woff');
}

*, *::before, *::after{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
*:focus{
    outline: none;
}
html, body{
    width: auto!important; 
    overflow-x: hidden!important;
    overscroll-behavior-y: contain;
}
a {
    text-decoration: none;
    color: #06c;
}
li {
    list-style: none;
    position: relative;
}
body{
    font-family: 'SF Pro Display';
    background: #f5f5f7;
    color: #1d1d1f;
    letter-spacing: .5px;
}
footer {
    margin-top: 80px;
}
h1 {
    font-size: 4rem;
}
hr {
    border: 0;
    border-bottom: 1px solid #e4e4e4;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 40px;
}

.product_grid {
    display: grid;
    background: #fff;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.product {
    text-align: center;
    padding: 35px 25px;
    outline: 1px solid #f1f2f4;
    transition: all .1s ease;
}

.product img {
    width: 100%;
}

.product:hover {
    box-shadow: rgb(39 79 117 / 20%) 0px 40px 90px -30px;
    z-index: 1;
    color: #111;
}

.product span {
    opacity: 0;
    padding: 3px 5px;
    border-radius: 4px;
    font-size: 10px;
    border: 1px solid #d2d2d7;
    display: inline-block;
    transform: translateY(8px);
}

.product:hover span{
    opacity: 1;
}

select#selector {
    font-size: 20px;
    padding: 25px 15px 10px;
    border-radius:10px;
    border: 1px solid #d2d2d7;
}
select#selector:focus {
    box-shadow: 0 0 0 4px rgb(0 125 250 / 60%);
}

.menu_selector:hover select#selector {
    cursor: pointer;
    border-color: #06c;
}

.menu_selector{
    position: relative;
}

.menu_selector span{
    position: absolute;
    top: 10px;
    left: 20px;
    display: inherit;
    font-size: 14px;
    color: #858587;    
}

nav {
    width: 100%;
    background-color: #fff;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f1f2f4;
    position: fixed;
    top: 0;
    z-index: 9;
    /* box-shadow: rgb(39 79 117 / 10%) 0px 0px 20px; */
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #1d1d1f;
    font-weight: bold;
}
.logo img {
    width: 40px;
    margin-right: 5px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-item a {
    color: #1d1d1f;
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
}

li.nav-item {
    display: flex;
    align-items: center;
}


.nav-item.whatsapp a{
    color: #fff;
    background: #1d1d1f;
    border-radius: 8px;
    border: 1px solid #1d1d1f;
}

.nav-item.whatsapp a span {
    position: absolute;
    left: 50px;
    font-size: 10px;
    top: 4px;
}

svg.svgicon-chat {
    margin-right: 5px;
}

.nav-item.whatsapp a:hover{
    background: #06c;
    border-color: #06c;
}


.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 60px;
}






/* Burger menu */

.wrapper{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.3s ease-in-out;
    opacity: 0;
  }
  #active:checked ~ .wrapper{
    clip-path: circle(75%);
    opacity: 1;
  }
  .wrapper ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }
  .wrapper ul li{
    margin: 15px 0;
  }
  .wrapper ul li a{
    color: none;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    border-radius: 50px;
    background: #000;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
  }
  .wrapper ul li a:after{
    position: absolute;
    content: "";
    background: #fff;
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    width: 104%;
    height: 110%;
    left: -2%;
    top: -5%; /* if the font is 'Oswald'*/
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    animation: rotate 1.5s linear infinite;
    transition: transform 0.3s ease;
  }
  .wrapper ul li a:hover:after{
    transform: scaleY(1);
  }
  .wrapper ul li a:hover{
    color: #fff;
  }
  input[type="checkbox"]{
    display: none;
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    text-align: center;
    width: 100%;
    color: #202020;
  }
  .content .title{
    font-size: 40px;
    font-weight: 700;
  }
  .content p{
    font-size: 35px;
    font-weight: 600;
  }
  
  @keyframes rotate {
    0%{
      filter: hue-rotate(0deg);
    }
    100%{
      filter: hue-rotate(360deg);
    }
  }
  


  .hamburger-lines{
    position: relative;
    z-index: 2;
    margin-left: 20px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  } 

 #active:checked ~ .hamburger-lines .line{
    background: #fff;
  }

 #active:checked ~ .hamburger-lines .line1{
    transform: rotate(45deg);
  }
 #active:checked ~ .hamburger-lines .line2{
    transform: scale(0);
  }
 #active:checked ~ .hamburger-lines .line3{
    transform: rotate(-45deg);
  }

.hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
}

.hamburger-lines:hover .line1 {
  transform: translateY(2px);
}
.hamburger-lines:hover .line3 {
  transform: translateY(-2px);
}

.hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
}
.hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}
.hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
  }












.footer_top, .footer_bottom{
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

.footer_top{
    padding: 120px 40px;
}
.footer_top h3 {
    margin-bottom: 20px;
}
ul.footer_top ul li {
    margin-bottom: 10px;
    font-size: 14px;
}
ul.footer_top ul li a{
    color: #737380;
}

.footer_bottom{
    padding: 15px 40px;
    font-size: 12px;
    color: #6e6e73;
}
.footer_bottom img {
    transform: translateY(1px);
}


.social_icon{
    margin-top: 20px;
}
.social_icon a{
    margin: 0 15px 10px 0;
}
.social_icon a svg{
    fill: #5f5f60;
}
.social_icon a:hover svg{
    fill: #000;
}


.ripley {
    width: 20px;
    padding: 2px 3px;
    border-radius: 3px;
    /* display: none; */
    float: left;
    margin-right: 3px;
    border: 1px solid #9b9ea1;
}